# Ignore everything
#*

## But descend into directories
#!*/
## Recursively allow files under subtree
#/subtree/**
## You can be specific with these rules
#!/some/other/deep/path/**

#!.gitignore

# set global gitignore
# git config --global core.excludesfile '~/.gitignore'

# ====================================================================
# For macOS
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
# ==================================================================
